& {
  $base-dark: #263238;
  & > * {
    border: 1px solid transparent;
    background-color: lighten($base-dark, 3%);
    transition: background-color 1.5s, border-color 1.5s, color 1s;
  }

  background-color: $base-dark;
  transition: background-color 1.5s;

  color: white;
  h2 {
    color: #ffc600;
  }
  header,
  footer,
  main,
  aside,
  section {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  a {
    color: white;
    &::before {
      content: '\0000a0 \0000a0 \0000a0\0000a0\0000a0 ';
    }
    &:hover {
      color: darken(white, 20%);
      &:before {
        content: '->';
      }
      &::after {
        content: '<-';
      }
    }
  }
}
