.hooks2-darkMode {
  @import '../../base_styles';
  font-size: 2rem;
  padding: 2rem !important;
  @media (prefers-color-scheme: dark) {
    background-color: #363636 !important;
  }

  @media (prefers-color-scheme: light) {
    background-color: aliceblue !important;
  }
}
